In [1]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
pd.set_option('display.max_columns', 100)

from statsmodels.tools.eval_measures import rmse

In [2]:
df = pd.read_csv('data/data.csv', sep=';', decimal=',')
df.head()

,id,Marka,Model,Sztuk_sprzedanych_pierwsze_30_dni,cena_wysylka30A,Data_wystawienia_aukcji,CA_NAME_5,fea_30,bld_30,hli_30,dpg_30,sa_30,48h_30,sma_30,bgn_30,top_seller_sales_30m,unique_sellers30m,sum_tr_quantity30m,sum_tr_quantity6030m,sum_tr_quantity9060m,sum_tr_quantity12090m,sum_tr_quantity150120m,sum_tr_quantity180150m,cena_z_wysylka30m,mp_fea,mp_bld,mp_hli,mp_dpg,mp_sa,mp_48h,mp_sma,mp_bgn,top3_sales_30m,ILE_AUKCJI_W_DNIU_DEBIUTU_FIRMA,ILE_AUKCJI_Z_WYZSZA_CENA_W_DNIU_DEBIUTU_FIRMA,ILE_AUKCJI_Z_ROWNA_CENA_W_DNIU_DEBIUTU_FIRMA,ILE_AUKCJI_Z_NIZSZA_CENA_W_DNIU_DEBIUTU_FIRMA,sez_IND
0,2,babyliss,3038E,21,105.000000,05.11.2018,Lok?ki,1,1,1,0,1.0,1.000000,1,0.733333,19,5,45,23,36,23,18,40,108.650000,0.800000,0.000000,0.000000,0.000000,0.977778,1.000000,0.0,0.000000,39.0,13,13,0,0,1.514411
1,3,babyliss,6614E,27,180.000000,05.11.2018,Suszarki do w?os?,1,1,1,0,1.0,0.066667,1,0.933333,4,5,8,15,12,10,7,14,199.497500,0.500000,0.500000,0.000000,0.000000,0.875000,0.875000,0.0,0.000000,6.0,8,8,0,0,1.475193
2,7,babyliss,AS130E,40,139.000000,05.11.2018,Lok?ki,1,1,1,0,1.0,0.125000,1,0.833333,6,5,11,2,7,5,10,11,141.225454,0.090909,0.000000,0.000000,0.000000,0.909091,0.818182,0.0,0.000000,9.0,13,12,1,0,1.514411
3,8,babyliss,CurlSecret C1100E,498,306.750000,23.11.2018,Lok?ki,1,1,1,0,1.0,0.111111,1,0.000000,58,21,226,113,138,185,135,178,317.417965,0.898230,0.022124,0.146018,0.013274,0.491150,0.000000,0.0,0.261062,116.0,28,26,1,1,3.134278
4,9,babyliss,D371E,5,165.096774,05.11.2018,Suszarki do w?os?,1,1,1,0,1.0,1.000000,1,0.000000,2,2,3,1,3,0,0,0,173.326667,0.333333,0.000000,0.000000,0.000000,0.666667,1.000000,0.0,0.000000,3.0,9,8,0,1,1.475193

In [3]:
df.describe()

,id,Sztuk_sprzedanych_pierwsze_30_dni,cena_wysylka30A,fea_30,bld_30,hli_30,dpg_30,sa_30,48h_30,sma_30,bgn_30,top_seller_sales_30m,unique_sellers30m,sum_tr_quantity30m,sum_tr_quantity6030m,sum_tr_quantity9060m,sum_tr_quantity12090m,sum_tr_quantity150120m,sum_tr_quantity180150m,cena_z_wysylka30m,mp_fea,mp_bld,mp_hli,mp_dpg,mp_sa,mp_48h,mp_sma,mp_bgn,top3_sales_30m,ILE_AUKCJI_W_DNIU_DEBIUTU_FIRMA,ILE_AUKCJI_Z_WYZSZA_CENA_W_DNIU_DEBIUTU_FIRMA,ILE_AUKCJI_Z_ROWNA_CENA_W_DNIU_DEBIUTU_FIRMA,ILE_AUKCJI_Z_NIZSZA_CENA_W_DNIU_DEBIUTU_FIRMA,sez_IND
count,202.000000,202.000000,202.000000,202.0,202.0,202.000000,202.000000,202.000000,202.000000,202.0,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,202.000000,199.000000,199.000000,199.000000,202.000000,202.000000,202.000000,202.000000,202.000000
mean,159.886139,57.549505,364.461258,1.0,1.0,0.990099,0.019802,0.979414,0.233488,1.0,0.230644,39.960396,9.326733,97.371287,80.128713,77.079208,75.737624,72.896040,74.267327,353.310386,0.731001,0.122495,0.062242,0.002883,0.830387,0.474597,0.041453,0.019441,77.804020,23.638614,18.217822,0.544554,4.876238,1.604506
std,80.463903,107.127116,689.034468,0.0,0.0,0.099256,0.139665,0.139712,0.361125,0.0,0.379604,82.720824,10.125195,215.533275,172.357298,166.280898,160.230231,148.147547,145.623715,633.673801,0.295143,0.221752,0.156976,0.015573,0.256793,0.457385,0.145962,0.069950,184.132903,37.545900,26.680943,0.886883,12.420475,0.535647
min,2.000000,1.000000,25.000000,1.0,1.0,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.013382,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.536194
25%,90.250000,11.250000,98.462384,1.0,1.0,1.000000,0.000000,1.000000,0.000000,1.0,0.000000,4.000000,3.000000,8.000000,6.000000,6.000000,5.000000,4.250000,3.250000,104.696335,0.662879,0.000000,0.000000,0.000000,0.800000,0.000000,0.000000,0.000000,8.000000,6.000000,5.000000,0.000000,0.000000,1.228037
50%,171.000000,25.000000,148.761555,1.0,1.0,1.000000,0.000000,1.000000,0.000000,1.0,0.000000,16.000000,7.000000,32.000000,24.500000,24.500000,23.500000,24.500000,24.000000,163.213125,0.847619,0.000000,0.000000,0.000000,0.944828,0.541667,0.000000,0.000000,26.000000,13.000000,12.000000,0.000000,1.000000,1.420205
75%,229.750000,58.500000,274.959597,1.0,1.0,1.000000,0.000000,1.000000,0.410714,1.0,0.489583,40.000000,12.750000,101.750000,79.500000,80.000000,85.000000,74.250000,73.750000,278.523659,0.925117,0.151888,0.025801,0.000000,1.000000,0.974493,0.000000,0.000000,76.500000,27.750000,24.000000,1.000000,4.000000,1.905186
max,286.000000,788.000000,5132.030303,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,721.000000,85.000000,1632.000000,1606.000000,1560.000000,1444.000000,1334.000000,1254.000000,5149.000000,1.000000,1.000000,1.000000,0.147059,1.000000,1.000000,1.000000,0.439024,2022.000000,381.000000,258.000000,4.000000,121.000000,3.134278

In [5]:
df['Data_wystawienia_aukcji'] = pd.to_datetime(df['Data_wystawienia_aukcji'], format='%d.%m.%Y' )

def time_untill_christmas(dt_obj):
    month = dt_obj.month
    day = dt_obj.day
    if 12 - month == 0:
        return 25 - day
    else:
        return 25 + (30 - day) + 30*(11-month)
    
df['time_untill_christmas'] = df['Data_wystawienia_aukcji'].apply(time_untill_christmas)

In [4]:
df.drop(['fea_30',
         'bld_30',
         'sma_30',
         'Model',
         'Marka',
         'CA_NAME_5',
         'Data_wystawienia_aukcji',
         'id'], axis=1, inplace=True)
df = df.fillna(df.mean())

In [5]:
df.head()

,Sztuk_sprzedanych_pierwsze_30_dni,cena_wysylka30A,hli_30,dpg_30,sa_30,48h_30,bgn_30,top_seller_sales_30m,unique_sellers30m,sum_tr_quantity30m,sum_tr_quantity6030m,sum_tr_quantity9060m,sum_tr_quantity12090m,sum_tr_quantity150120m,sum_tr_quantity180150m,cena_z_wysylka30m,mp_fea,mp_bld,mp_hli,mp_dpg,mp_sa,mp_48h,mp_sma,mp_bgn,top3_sales_30m,ILE_AUKCJI_W_DNIU_DEBIUTU_FIRMA,ILE_AUKCJI_Z_WYZSZA_CENA_W_DNIU_DEBIUTU_FIRMA,ILE_AUKCJI_Z_ROWNA_CENA_W_DNIU_DEBIUTU_FIRMA,ILE_AUKCJI_Z_NIZSZA_CENA_W_DNIU_DEBIUTU_FIRMA,sez_IND
0,21,105.000000,1,0,1.0,1.000000,0.733333,19,5,45,23,36,23,18,40,108.650000,0.800000,0.000000,0.000000,0.000000,0.977778,1.000000,0.0,0.000000,39.0,13,13,0,0,1.514411
1,27,180.000000,1,0,1.0,0.066667,0.933333,4,5,8,15,12,10,7,14,199.497500,0.500000,0.500000,0.000000,0.000000,0.875000,0.875000,0.0,0.000000,6.0,8,8,0,0,1.475193
2,40,139.000000,1,0,1.0,0.125000,0.833333,6,5,11,2,7,5,10,11,141.225454,0.090909,0.000000,0.000000,0.000000,0.909091,0.818182,0.0,0.000000,9.0,13,12,1,0,1.514411
3,498,306.750000,1,0,1.0,0.111111,0.000000,58,21,226,113,138,185,135,178,317.417965,0.898230,0.022124,0.146018,0.013274,0.491150,0.000000,0.0,0.261062,116.0,28,26,1,1,3.134278
4,5,165.096774,1,0,1.0,1.000000,0.000000,2,2,3,1,3,0,0,0,173.326667,0.333333,0.000000,0.000000,0.000000,0.666667,1.000000,0.0,0.000000,3.0,9,8,0,1,1.475193

In [6]:
X = np.asarray(df.drop('Sztuk_sprzedanych_pierwsze_30_dni', axis=1))
y = np.asarray(df['Sztuk_sprzedanych_pierwsze_30_dni'])

model = sm.OLS(y, X).fit()
predictions = model.predict(X)
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.637
Model:                            OLS   Adj. R-squared:                  0.578
Method:                 Least Squares   F-statistic:                     10.89
Date:                Fri, 12 Apr 2019   Prob (F-statistic):           1.25e-25
Time:                        15:12:29   Log-Likelihood:                -1153.8
No. Observations:                 202   AIC:                             2364.
Df Residuals:                     174   BIC:                             2456.
Df Model:                          28
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.0082      0.020      0.414      0.679      -0.031       0.047
x2          -125.8449     61.605     -2.043      0.043    -247.433      -4.256
x3            58.8941     87.225      0.675      0.500    -113.260     231.048
x4            86.2298     68.782      1.254      0.212     -49.524     221.983
x5             7.1822     18.179      0.395      0.693     -28.698      43.062
x6            33.5032     16.428      2.039      0.043       1.079      65.927
x7             0.7622      0.160      4.761      0.000       0.446       1.078
x8             1.8282      1.330      1.374      0.171      -0.797       4.454
x9             0.3423      0.102      3.361      0.001       0.141       0.543
x10           -0.6562      0.220     -2.982      0.003      -1.090      -0.222
x11            0.1232      0.314      0.392      0.695      -0.497       0.743
x12           -0.0043      0.368     -0.012      0.991      -0.731       0.722
x13            0.2926      0.286      1.025      0.307      -0.271       0.856
x14            0.1501      0.163      0.919      0.359      -0.172       0.473
x15           -0.0143      0.022     -0.648      0.518      -0.058       0.029
x16          -12.0245     22.389     -0.537      0.592     -56.214      32.165
x17          -28.5196     33.116     -0.861      0.390     -93.881      36.841
x18          -40.2412     50.457     -0.798      0.426    -139.828      59.345
x19         -349.7219    429.298     -0.815      0.416   -1197.023     497.580
x20          -15.5438     27.446     -0.566      0.572     -69.715      38.627
x21           11.0342     15.017      0.735      0.463     -18.605      40.674
x22           20.4136     45.707      0.447      0.656     -69.798     110.625
x23           30.5219     94.557      0.323      0.747    -156.104     217.148
x24           -0.4076      0.102     -3.995      0.000      -0.609      -0.206
x25           -1.8855      1.671     -1.128      0.261      -5.184       1.413
x26            2.6971      1.760      1.533      0.127      -0.776       6.171
x27           -5.9179      5.046     -1.173      0.243     -15.878       4.042
x28            1.3353      1.823      0.732      0.465      -2.263       4.933
x29           40.6193     12.365      3.285      0.001      16.214      65.025
==============================================================================
Omnibus:                      218.736   Durbin-Watson:                   1.657
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9581.269
Skew:                           4.131   Prob(JB):                         0.00
Kurtosis:                      35.713   Cond. No.                     1.34e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.22e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [7]:
# now generate predictions
ypred = model.predict(X)
# calc rmse
rmse = rmse(y, ypred)

In [8]:
rmse

73.16852835630286

In [10]:
mean = (np.ones(202))*57.5
rmse(y, mean)

TypeError: 'numpy.float64' object is not callable